PORT=5000
NODE_ENV=development
MONGODB_URI=mongodb://wesplitwork:<db_password>@ac-zktv3w5-shard-00-00.jvpjokd.mongodb.net:27017,ac-zktv3w5-shard-00-01.jvpjokd.mongodb.net:27017,ac-zktv3w5-shard-00-02.jvpjokd.mongodb.net:27017/wesplit?authSource=admin&replicaSet=atlas-xe2ka6-shard-0&retryWrites=true&w=majority&tls=true&appName=Wesplit
MONGODB_DIRECT_URI=mongodb://wesplitwork:<db_password>@ac-zktv3w5-shard-00-00.jvpjokd.mongodb.net:27017,ac-zktv3w5-shard-00-01.jvpjokd.mongodb.net:27017,ac-zktv3w5-shard-00-02.jvpjokd.mongodb.net:27017/wesplit?authSource=admin&replicaSet=atlas-xe2ka6-shard-0&retryWrites=true&w=majority&tls=true&appName=Wesplit
JWT_SECRET=replace-with-a-long-random-secret
JWT_EXPIRE=7d
CLIENT_URLS=http://localhost:5173,http://127.0.0.1:5173
MONGODB_RETRY_DELAY_MS=5000
MONGODB_MAX_RETRIES=0
